header{
  margin: 0;
  padding: 0;
  width: 100%;
  background: rgba(111, 25, 255, 0.5);
}

header .container {
  background-image: url('./images/hero_background.jpg');
  background-size: 100% 100%;
  width: 100%;
  max-width: 144rem;
  height: 87.6rem;
  margin: auto;
}

.box {
  max-width: 55.6rem;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15.1rem;
}

.box h1 {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 50px;
  line-height: 46px;
  margin-bottom: 2.1rem;
}

.box p {
  font-weight: 400;
  font-size: 2.1rem;
  line-height: 1.9rem;
  color: #FFFFFF;
  margin-bottom: 2.1rem;
}

.box button {
  background-color: #881AFF;
  border: none;

  width: 100%;
  padding: 2rem 1.5rem;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.box button a {
  font-weight: bold;
  font-size: 2.1rem;
  line-height: 1.9rem;
  color: #FFFFFF;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  header .container {
    background-image: url(./images/hero_background.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 44.9rem;
  }
  .box {
    margin: 0;
    text-align: center;
    max-width: 29.2rem;
    margin: auto;
  }
  .box button {
    border: none;
    margin: 0 auto;
    max-width: 90%;
  }
  .box h1 {
    font-size: 29px;
    line-height: 31px;
  }
}