section.section4{
  width: 100%;
  text-align: center;
  padding: 5rem 0 5rem;
  background-color: #1194FF;
}

.section4 h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 37px;
  color: #FFFFFF;
}

.section4 h2 {
  color: #FFFFFF;
  margin: auto;
  font-weight: 300;
  font-size: 24px;
  line-height: 22px;
  margin-bottom: 4.3rem;
}

.lojaApps {
  margin: 0 auto;
}

.lojaApps button {
  color: #FFFFFF;
  background-color: #881AFF;
  width: 100%;
  max-width: 35.3rem;
  padding: 0;
}

.lojaApps a {
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}

button.buttonLoja {
  border-radius: 1rem;
  border: none;
}

.buttonLoja:nth-child(1){
  margin-right: 2rem;
}

.loja {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 3rem 0 3rem;
}

.loja img {
  margin-right: 1rem;
}

.loja p {
  font-weight: 700;
  font-size: 24px;
  line-height: 22px;
}

@media screen and (max-width: 76.8rem) {
  .container{
    width: 90%;
    margin: 0 auto;
  }
  .section4 h1 {
    font-size: 3.7rem;
    line-height: 3.7rem;
  }
  .section4 h2 {
    font-weight: 300;
    font-size: 2rem;
    line-height: 2.2rem;
    margin-bottom: 4.3rem;
  }
  .lojaApps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0 1rem;
  }
  .loja p {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.2rem;
  }
  .buttonLoja:nth-child(1) {
    margin: 0;
    margin-bottom: 2rem;
    padding: 0;
  }
}